include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .container

          .reviews#reviews
            .reviews__header
              .reviews__title Что обо мне говорят
              .reviews__controls
                .reviews__prev-button
                  button.arrow-button.arrow-button_circle.arrow-button_transparent(
                    :disabled="currentSlideIndex === 0"
                    @click="previous"
                  )
                    +icon('arrow-down', 'arrow-button__icon arrow-button__icon_prev')
                .reviews__next-button
                  button.arrow-button.arrow-button_circle.arrow-button_transparent(
                    :disabled="currentSlideIndex === slidesLength - 1"
                    @click="next"
                  )
                    +icon('arrow-down', 'arrow-button__icon arrow-button__icon_next')
            .reviews__body
              flickity(ref="flickity" :options="flickityOptions")
                .reviews__item.carousel-cell(v-for="(review, i) in reviews" :key="i")
                  .review
                    .review__quote
                      +icon('quote', 'review__quote-icon')
                    .review__content
                      .review__text {{ review.text }}
                      .review__author.review-author
                        .review-author__avatar
                          img.review-author__avatar-image(:src="review.photo")
                        .review-author__info
                          .review-author__name {{ review.author }}
                          .review-author__position {{ review.position }}